root_domain fails on "unusual" URI-schemes

Want to use $LAB inside a chrome-extension, however the regex that extracts the root_domain does not match the href `chrome-extension:mmjeglkkcnglojkjoomifokhekiiiioe/www/index.html`. According to [RFC3986, Section 3.1](http://tools.ietf.org/html/rfc3986#section-3.1):

> Scheme names consist of a sequence of characters beginning with a
> letter and followed by any combination of letters, digits, plus
> ("+"), period ("."), or hyphen ("-").

so the correct regex would be `/^[a-z][\w\+-\/]+\:\/\/\/?[^\/]+/`.


Hello,
To add some interests to this issue, LAB does not correctly handle the `blob:` URL scheme used here: https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL
This issue corrects that behavior I guess.
While waiting for 3.0, I tweaked the regex like that : `var absolute_regex = /^(?:\w+\:\/\/|blob\:)/`



@mttcr thanks! to clarify, you're talking about?

1. using LABjs to load a blob URL? --OR--
2. using LABjs inside a page that came from a blob URL?

The first one. I have some raw source in a string that I convert into a blob, then I load it with LABjs.
```
let blob = new Blob( [plainSource], [{ type: "text/javascript" }] );
let objectURL = window.URL.createObjectURL( blob );
$LAB
    .script( objectURL )
    .wait(() =>
       {
            window.URL.revokeObjectURL( objectURL );
       });
```


thanks!